.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "a a b b"
    "c d d d"
    "e e e e";
    gap: 8px;
   }

   .container > *{
    border-radius: 15px;
    height: 100px;
   }

   .container > .a {
    grid-area: a;
    background-color: brown;
   }
   .container > .b {
    grid-area: b;
    background-color: darkblue;
   }
   .container > .c {
    grid-area: c;
    background-color: darkgreen;
   }
   .container > .d {
    grid-area: d;
    background-color: purple;
   }
   .container > .e {
    grid-area: e;
    background-color: darkorange;
   }
