* {
  box-sizing: border-box;
}

@media screen and (min-width: 230px){
    body{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 0.5fr 3fr;
      grid-template-areas: 
      "head head head head"
      "main main main main";
      
    }
    header{
      grid-area: head;
      display: grid;
      grid-template-columns: 7fr 3fr;
      grid-template-rows: 1fr;
      grid-template-areas: "title nav";
      height: 100px;
    }
    main{
      grid-area: main;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3,1fr);
      grid-template-areas: 
      "art art art ads"
      "art art art ads"
      "art art art ads";
      gap: 15px;
    }
    aside{
      grid-area: ads;
    }
    article{
      grid-area: art;
    }
    nav{
      grid-area: nav;
      display: grid;
      align-items: center;
    }
    .title{
      grid-area: title;
    }
    header ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;
    }
}

html {
  font:
    1.2em/1.4 Arial,
    Helvetica,
    sans-serif;
}

body {
  padding: 0 0 1em;
}

header {
  background-color: #333;
  color: #fff;
  border: 5px solid #000;
  
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  /*border-top: 1px solid #999;*/
}

header .title {
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  padding: 1em;
}

main {
  padding: 0 1em;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards li {
  border: 5px solid #000;
  margin-bottom: 1em;
}

.cards h2 {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0.5em 1em;
}

.cards .inner {
  padding: 0.5em 1em;
}

.sidebar {
  background-color: #333;
  border: 5px solid #000;
  padding: 0.5em 1em;
  color: #fff;
}